.twitter {
	width: 25px;
	height: 15px;
	background: #55acee;
	position: relative;
	margin: 15px;
	display: inline-block;
	border-spacing: 25px;}

.twitter_logo {
	background: url("../../images/Twitter.png");
	width: 100%;
	height: 100%;

}




.twitter:before {
	content: "";
	position: absolute;
	top: -6px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 13px solid transparent;
	border-right: 13px solid transparent;
	border-bottom: 7px solid #55acee;

}
.twitter:after {
	content: "";
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 5.5px solid #55acee;

}


.linkedin {
	width: 25px;
	height: 15px;
	background: #0976b4;
	position: relative;
	margin: 15px;
	display: inline-block;
	border-spacing: 25px;
}

.linkedin_logo {
	background: url("../../images/LinkedIn.png");
	width: 100%;
	height: 100%;

}




.linkedin:before {
	content: "";
	position: absolute;
	top: -6px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 13px solid transparent;
	border-right: 13px solid transparent;
	border-bottom: 7px solid #0976b4;

}
.linkedin:after {
	content: "";
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 5.5px solid #0976b4;

}


.dribbble {
	width: 25px;
	height: 15px;
	background: #ea4c89;
	position: relative;
	margin: 15px;
	display: inline-block;}

.dribbble_logo {
	background: url("../../images/Dribbble.png");
	width: 100%;
	height: 100%;

}


.dribbble:before {
	content: "";
	position: absolute;
	top: -6px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 13px solid transparent;
	border-right: 13px solid transparent;
	border-bottom: 7px solid #ea4c89;

}
.dribbble:after {
	content: "";
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 5.5px solid #ea4c89;

}

.behance {
	width: 25px;
	height: 15px;
	background: #1769ff;
	position: relative;
	margin: 15px;
	display: inline-block;}


.behance_logo {
	background: url("../../images/behance.png");
	width: 100%;
	height: 100%;

}

.behance:before {
	content: "";
	position: absolute;
	top: -6px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 13px solid transparent;
	border-right: 13px solid transparent;
	border-bottom: 7px solid #1769ff;

}
.behance:after {
	content: "";
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 5.5px solid #1769ff;

}