.Switzerland {
    position: relative;
   }

    .SW_red {
      width: 300px; height:200px;
      background:#D52B1E;


    }
    .SW_line_vert{
    width: 40px;
    height: 100px;
    background: white;
    position: absolute;
    top: 25%;
    left: 43%;
    }
    .SW_line_hor {
    width: 100px;
    height: 40px;
    background: white;
     position: absolute;
    top: 40%;
    left: 33%;
    }